@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@900&family=Roboto+Slab:wght@900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fira Sans", sans-serif;

  background-color: #282c34;
}

li,
a,
button {
  font-weight: 500;
  font-size: 32px;
  color: #e6e7eb;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  height: 75px;
  width: 150px;
  cursor: pointer;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
  margin-left: 5rem;
}

.nav-links li a {
  transition: color 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #0088a9;
}
button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;

  transition: background-color 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

h1 {
  color: rgba(0, 136, 169, 1);
  font-size: 3rem;
}
